<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="110"/>
  <w:displayBackgroundShape w:val="1"/>
  <w:bordersDoNotSurroundHeader w:val="0"/>
  <w:bordersDoNotSurroundFooter w:val="0"/>
  <w:documentProtection w:enforcement="0"/>
  <w:displayHorizontalDrawingGridEvery w:val="1"/>
  <w:displayVerticalDrawingGridEvery w:val="1"/>
  <w:noPunctuationKerning w:val="1"/>
  <w:compat>
    <w:doNotExpandShiftReturn/>
    <w:doNotWrapTextWithPunct/>
    <w:doNotUseEastAsianBreakRules/>
    <w:useFELayout/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00000000"/>
    <w:rsid w:val="00863B59"/>
    <w:rsid w:val="01264686"/>
    <w:rsid w:val="02313F99"/>
    <w:rsid w:val="029D518A"/>
    <w:rsid w:val="07364938"/>
    <w:rsid w:val="07580048"/>
    <w:rsid w:val="0866304B"/>
    <w:rsid w:val="0A4800A6"/>
    <w:rsid w:val="0A6C4B35"/>
    <w:rsid w:val="0C8156EF"/>
    <w:rsid w:val="0E9B4C74"/>
    <w:rsid w:val="10D75A1D"/>
    <w:rsid w:val="10E56FBF"/>
    <w:rsid w:val="121D3BF2"/>
    <w:rsid w:val="123F6666"/>
    <w:rsid w:val="12A54DFE"/>
    <w:rsid w:val="14C005F5"/>
    <w:rsid w:val="14EB7563"/>
    <w:rsid w:val="169B053C"/>
    <w:rsid w:val="191F34B9"/>
    <w:rsid w:val="1AE16D0C"/>
    <w:rsid w:val="1BF66E23"/>
    <w:rsid w:val="1DC3142D"/>
    <w:rsid w:val="1EC2624D"/>
    <w:rsid w:val="1FE106EF"/>
    <w:rsid w:val="206F3C4C"/>
    <w:rsid w:val="20D5165A"/>
    <w:rsid w:val="20D65FDF"/>
    <w:rsid w:val="20F52909"/>
    <w:rsid w:val="21DB7C64"/>
    <w:rsid w:val="223A1F8D"/>
    <w:rsid w:val="23DA590B"/>
    <w:rsid w:val="253022B0"/>
    <w:rsid w:val="25924C38"/>
    <w:rsid w:val="26802B3B"/>
    <w:rsid w:val="28B44E58"/>
    <w:rsid w:val="28CA176A"/>
    <w:rsid w:val="2C1B71AC"/>
    <w:rsid w:val="2FC0763D"/>
    <w:rsid w:val="3070489A"/>
    <w:rsid w:val="31300EED"/>
    <w:rsid w:val="31DE6AA2"/>
    <w:rsid w:val="32CE2FBA"/>
    <w:rsid w:val="32F05759"/>
    <w:rsid w:val="356333CB"/>
    <w:rsid w:val="35EF59CE"/>
    <w:rsid w:val="360D15F6"/>
    <w:rsid w:val="36300A7F"/>
    <w:rsid w:val="38CD161E"/>
    <w:rsid w:val="38EC723B"/>
    <w:rsid w:val="3A971EE4"/>
    <w:rsid w:val="3B844E2F"/>
    <w:rsid w:val="3CCA2A44"/>
    <w:rsid w:val="3DB82A19"/>
    <w:rsid w:val="40061FE5"/>
    <w:rsid w:val="42FE51F6"/>
    <w:rsid w:val="439A0E15"/>
    <w:rsid w:val="458C51C1"/>
    <w:rsid w:val="4A4A2ACF"/>
    <w:rsid w:val="4B8B35AB"/>
    <w:rsid w:val="4F1162B1"/>
    <w:rsid w:val="50632B3C"/>
    <w:rsid w:val="528024FB"/>
    <w:rsid w:val="529E60AD"/>
    <w:rsid w:val="530D5254"/>
    <w:rsid w:val="53187600"/>
    <w:rsid w:val="546569FC"/>
    <w:rsid w:val="55A02B7E"/>
    <w:rsid w:val="55F83A0D"/>
    <w:rsid w:val="56A441E4"/>
    <w:rsid w:val="57B41367"/>
    <w:rsid w:val="59E66788"/>
    <w:rsid w:val="5A405C9C"/>
    <w:rsid w:val="5AF10470"/>
    <w:rsid w:val="5CB95DA7"/>
    <w:rsid w:val="5D2C5FA1"/>
    <w:rsid w:val="5D505D29"/>
    <w:rsid w:val="5D635F29"/>
    <w:rsid w:val="5E37557A"/>
    <w:rsid w:val="5E714572"/>
    <w:rsid w:val="5F054127"/>
    <w:rsid w:val="5F562756"/>
    <w:rsid w:val="5FF0364B"/>
    <w:rsid w:val="602C1292"/>
    <w:rsid w:val="60AE1BB1"/>
    <w:rsid w:val="62122B7E"/>
    <w:rsid w:val="628C0E54"/>
    <w:rsid w:val="6342003F"/>
    <w:rsid w:val="63461374"/>
    <w:rsid w:val="65095703"/>
    <w:rsid w:val="654F5399"/>
    <w:rsid w:val="66C05D7C"/>
    <w:rsid w:val="67D363A2"/>
    <w:rsid w:val="67E1141B"/>
    <w:rsid w:val="683F2481"/>
    <w:rsid w:val="68DC4DE2"/>
    <w:rsid w:val="698536CB"/>
    <w:rsid w:val="6A8B7437"/>
    <w:rsid w:val="6EAF50C3"/>
    <w:rsid w:val="6F231BEF"/>
    <w:rsid w:val="6F3C501F"/>
    <w:rsid w:val="705435FB"/>
    <w:rsid w:val="70C90342"/>
    <w:rsid w:val="72BA4726"/>
    <w:rsid w:val="73401C26"/>
    <w:rsid w:val="74787139"/>
    <w:rsid w:val="750A78B1"/>
    <w:rsid w:val="766610B3"/>
    <w:rsid w:val="79151E55"/>
    <w:rsid w:val="7AC81F44"/>
    <w:rsid w:val="7BC4139A"/>
    <w:rsid w:val="7C182D52"/>
    <w:rsid w:val="7CBA4FE2"/>
    <w:rsid w:val="7DD01BAC"/>
    <w:rsid w:val="7E24037B"/>
  </w:rsids>
  <m:mathPr>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
</w:settings>
