<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Pages>1</Pages>
  <Words>814</Words>
  <Characters>1375</Characters>
  <TotalTime>3</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>1514</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.25225_F1E327BC-269C-435d-A152-05C5408002CA</Application>
</Properties>
